# Used for setting local env variables. If not needed simply delete the file.
# To be able to use .envrc please follow the instructions on https://direnv.net/

# In case our project is private we need to setup the GOPRIVATE variable to be able to use go tools
# 1. Set GOPRIVATE to your private repo on Github, BitBucket etc.
# 2. Update your gitconfig to use an access token that you can generate on VCS
# Example for Github:
# git config --global url."https://${username}:${access_token}@github.com".insteadOf "https://github.com"

# GOPRIVATE="github.com/your-private-repo"
